.btn-yellow{
	background-color:#e3b04b;
	color:#37343D;
	padding:10px 15px;
	border-radius:7px;
	font-weight:bold;
	font-family:'Roboto Slab', serif;
	box-shadow: 5px 5px 5px rgba(0,0,0,15%);
}