.cards{
	display:flex;
	flex-wrap:wrap;
}

.card{
background-color:#f8f8f8;
box-shadow: 5px 5px 5px rgba(0,0,0,15%);
color:#37343D;
border-radius:6px;
display:flex;
padding:10px;
padding-right:40px;
align-items:center;
justify-content: space-between;
margin:10px;
flex-basis:250px;
flex-grow:1;
}

.card img{
	width:150px;
	height:120px;
	margin-right:20px;
	border-radius:6px;
}

.card h4{
	flex-grow:1;
	font-size:20px;
	color:#37343D;
	font-weight:600;
	text-transform:none;
}